<div class="block level-item mt-5">
    <div class="column is-half">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    <p>
                    <%= @flight.departure_airport.location_name %>
                    [<%= @flight.departure_airport.airport_code %>] to
                    <%= @flight.arrival_airport.location_name %>
                    [<%= @flight.arrival_airport.airport_code %>]
                    </p>
                </div>
            </div>
            <div class="card-content">
                <p>Depature time : <%= @flight.scheduled_time %></p>
                <p>Arrival time : ####-##-## ##:##:## UTC</p>
                <p># passengers</p>
            </div>
        </div>
        <div class="block"></div>
        <div class="box has-text-centered">
            <%= form_with model: @booking, local: true do |form| %>
                <%= form.fields_for :passengers do |p| %>
                    <div class="field">
                        <%= p.label :name, class: "label"%>
                        <%= p.text_field :name, class: "input"%>
                    </div>
                    <div class="field">
                        <%= p.label :email, class: "label"%>
                        <%= p.email_field :email, class: "input"%>
                    </div>
                <% end %>
                <%= hidden_field_tag :flight, params[:flight] %>
                <div class="field">
                    <%= form.submit "Submit booking", class: "button is-success"%>
                </div>
            <% end %>
        </div>
    </div>
</div>