<div class="block level-item mt-5">
    <div class="column is-half">
        <%= render "summary"%>
        <div class="block"></div>
        <div class="box has-text-centered">
            <%= form_with model: @booking, local: true do |form| %>
                <% i = 1 %>
                <%= form.fields_for :passengers do |p| %>
                    <div class="block">
                        <p class="title is-size-5 has-text-left">Passenger <%= i %></p><br>
                        <div class="field has-text-left">
                            <%= p.label :name, class: "subtitle is-size-6"%>
                            <%= p.text_field :name, placeholder: "Passenger name", class: "input"%>
                        </div>
                        <div class="field has-text-left">
                            <%= p.label :email, class: "subtitle is-size-6"%>
                            <%= p.email_field :email, placeholder: "Passenger email", class: "input"%>
                        </div>
                    </div>
                    <% i += 1 %>
                <% end %>
                <%= hidden_field_tag :flight, params[:flight] %>
                <%= hidden_field_tag :passenger_count, params[:passenger_count] %>
                <div class="field">
                    <%= form.submit "Submit booking", class: "button is-success"%>
                </div>
            <% end %>
        </div>
    </div>
</div>